#!/usr/bin/make -f

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export PYBUILD_NAME=tornado
export PYBUILD_TEST_ARGS={interpreter} ./tornado/test/runtests.py --verbose
export TRAVIS=true
export NO_NETWORK=1
export ASYNC_TEST_TIMEOUT=30
# py3 tests is failling without this
export HOME=/tmp
# See discussion in https://bugs.debian.org/965041.
export CRYPTOGRAPHY_OPENSSL_NO_LEGACY=1

%:
	dh $@ --with python3,sphinxdoc --buildsystem=pybuild

override_dh_auto_test:
	# unset http[s]_proxy here, since otherwise pycurl picks these variables up and tests fail
	PYBUILD_SYSTEM=custom PYTHONPATH=. http_proxy= https_proxy= dh_auto_test

override_dh_compress:
	dh_compress -X.py

override_dh_sphinxdoc:
ifeq (,$(findstring nodocs, $(DEB_BUILD_OPTIONS)))
	python3 -m sphinx -b html docs $(CURDIR)/debian/python-tornado-doc/usr/share/doc/python-tornado-doc/html
	dh_sphinxdoc
endif

override_dh_installchangelogs:
	rm -f debian/upstream-changelog
	set -e ; for i in $$(find docs/releases/ -name "*.rst" | sort -V -r) ; do \
		cat $$i ; \
		echo "" ; \
	done >>debian/upstream-changelog

	dh_installchangelogs debian/upstream-changelog
